.badge-primary {
  background-color: $bg-color-primary;
}
.badge-bronze {
  background-color: $border-color-bronze;
}

.badge-deleted {
  background-color: $border-color-error;
}

.badge-disabled {
  background-color: $font-color-disabled;
}
