.no-avatar {
  flex-shrink: 0;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $bg-color-primary-disabled;
  font-size: 80%;
  justify-content: center;
  align-items: center;
}
