@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("@/assets/fonts/OpenSans-Italic-VariableFont_wdth.ttf") format("ttf"),
    url("@/assets/fonts/OpenSans-VariableFont_wdth.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

* {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  &::after,
  &::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  &:visited {
    text-decoration: none;
  }
}

$bg-color-primary: #1f75cb;
$bg-color-primary-hover: #1068bf;
$bg-color-primary-active: #0b5cad;
$bg-color-primary-disabled: #dcdcde;
$bg-color-secondary: #ffffff;
$bg-color-secondary-hover: #ececef;
$bg-color-secondary-active: #dcdcde;

$border-color-default: rgba(0, 0, 0, 0.15);
$border-color-hover: rgba(18, 19, 22, 0.5);
$border-color-active: #1c1c1c;
$border-color-error: #ee4222;
$border-color-bronze: #9e6955;

$font-color-primary: #1c1c1c;
$font-color-secondary: #ffffff;
$font-color-disabled: #8e8e8e;

.wrapper {
  margin: 0 auto;
}

.badge {
  margin-left: 16px;
  padding: 0 8px;
  color: $font-color-secondary;
  border-radius: 4px;
}

.bg-bronze {
  background-color: $border-color-bronze;
}
.bg-error {
  background-color: $border-color-error;
}
.bg-primary {
  color: $font-color-secondary;
  background-color: $bg-color-primary;
  &:hover {
    background-color: $bg-color-primary-hover;
  }
}
.bg-secondary {
  color: $font-color-primary;
  background-color: $bg-color-secondary;
  &:hover {
    background-color: $bg-color-secondary-hover;
  }
}

.user__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.no-items {
  height: 90vh;
}

.show {
  display: block;
  background-color: $bg-color-secondary-active;
}

.show-menu {
  display: block;
  width: max-content;
}

a .active {
  background-color: $bg-color-secondary;
  color: $font-color-primary;
}

a .active .arrow.down > svg {
  color: $font-color-disabled;
}

.item-menu__list {
  z-index: 2;
  background-color: $bg-color-secondary;
  list-style: none;
  position: absolute;
  right: 0;
  top: 43px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: none;
  &-item {
    padding: 8px 16px;
    &:hover {
      background-color: $bg-color-secondary-hover;
    }
  }
}

.btn {
  margin-top: 10px;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid $border-color-default;
  border-radius: 4px;
}

.delete {
  color: $border-color-error;
}
.edit {
  color: $font-color-primary;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #e4e4ed;
  border-right-color: $bg-color-primary;
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
